<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>navbar}}
    <div class="container">
        <a href="/">
        <button class="errorBtn">
            <img src="image/404error.jpg" class="d-block w-100" alt="...">
        </button>
        </a>
    </div>
    {{>footer}}
</body>
</html>